body {
    font-family: Arial, sans-serif;
}

.mensaje {
    font-size: 1.2em;
    margin: 10px 0;
}

.correcto {
    color: green;
}

.error {
    color: red;
}

#icono {
    width: 50px;
    height: 50px;
}