body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-calcular {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-calcular:hover {
    background: #45a049;
}

.button-reset {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: rgb(22, 6, 240);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-reset:hover {
    background: rgb(46, 111, 209);
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
