
/* Esto aún no está completado */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-items: center;
    text-align: center;
    background-color: beige;
}

#mensaje {
    margin-top: 15px;
    font-weight: bold;
}

/* 
.lista {
    display: grid;
    grid-template-columns: 90% 10%; /* El 90% es para el texto de la tarea, y el 10% para la X de eliminar tarea
}  
    */