body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

.contenedor {
    margin-bottom: 10px;
}

#tareaInput {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completada {
    text-decoration: line-through;
    color: gray;
}

li button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
