body {
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-items: center;
    text-align: center;
}

.gridbotones {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: center;
}

.resetbutton {
    grid-column: 2;
}

.caja {
    width: 120px;
    height: 120px;
    background-color: steelblue;
    margin-top: 15px;
}

.cajaRoja {
    width: 120px;
    height: 120px;
    background-color: red;
    margin-top: 15px;
}

.cajaRojaChiquita {
    width: 60px;
    height: 60px;
    background-color: red;
    margin-top: 15px;
}

.screamer {
    width: 120px;
    height: 120px;
    margin-top: 15px;
    background-image: url("screamer.jpg");
    background-size: cover;
}

.maquinaIn {
    width: 120px;
    height: 120px;
    margin-top: 15px;
    background-image: url("maquina.png");
    background-size: cover;
}

.athletic {
    width: 300px;
    height: 300px;
    margin-top: 15px;
    background-image: url("athletic.jpg");
    background-size: contain;
    background-repeat: no-repeat
}

#mensaje {
    margin-top: 15px;
    font-weight: bold;
}